* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 400px;
    margin: 30px auto;

}

.header {
    text-align: center;
    margin: 10px;
}

.listEntry {
    margin: 10px;
}